.email-preview {
    padding-bottom: 10px;
    padding-top: 10px;
    color: #202124;
    display: flex;
    align-items: center;
}


.email-preview .from {
    margin-inline-start: 10px;
    width: 150px;
}

.email-preview .from-subject {
    display: flex;
}

.email-preview .subject {
    width: 200px;
}

.email-preview .date {
    width: 50px;
    display: flex;
    position: absolute;
    right: 2%;
    /* visibility: hidden; */
}

.icons-container {
    width: 120px;
    position: absolute;
    right: 4%;
}

.icons-container>* {
    margin-left: 20px;
    opacity: .54;
    visibility: hidden;
}

.email-list li:hover .date {
    visibility: hidden;
}

.email-list li:hover .icons-container>* {
    visibility: visible;
}

.icons-container>*:hover {
    opacity: 1;
}

.email-preview .starred, .unstarred{
    width: 20px;
}

.email-preview .unstarred {
    opacity: .16;
}

.email-preview .unstarred:hover {
    opacity: .54;
}